################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApp/bin
/.vs
/WebApp/obj/Debug
/WebApp/App_Start
/WebApp/Properties
/WebApp/WebApp.csproj.user
/WebApp/Web.Release.config
/WebApp/Web.Debug.config
/WebApp/packages.config
/packages
